<html>
  <head>
    <title>Title</title>
    <script src="bower_components/react/react.js"></script>
    <script src="bower_components/react/JSXTransformer.js"></script>
  </head>
  <body>
    <div id="app-container"></div>
    <script type="text/jsx">
      var Hello = React.createClass({
        render: function() {
          return (
            <div>
              <h1>Hello, React</h1>
            </div>
          );
        }
      });

      React.render(
        <Hello />,
        document.getElementById('app-container')
      );
    </script>
  </body>
</html>
